@tailwind base;
@tailwind components;
@tailwind utilities;


/* Root Element Here  */

:root{
  --BgColor: #000000;
  --CommonColor: #FFFFFF;
  --BtnColor: #FFBD39;
  --SkillColor: #1A1A1A;
  --FooterColor: #141414;
  --FontFamily: "Poppins", sans-serif;
}

/* Root Element Here  */

/* common css Here  */

@layer base{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    @apply m-0 p-0 outline-none box-border;
  };

  ul,ol,li{
    @apply list-none;
  };
  img{
    @apply align-middle;
  };
 a{
  @apply no-underline inline-block
 }
 h1,h2,h3,h4,h5,h6,img,a,p,span,ul,ol,li,div{
  @apply m-0 p-0;
 };
};

/* common css Here  */